PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/quizmaster?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeychangeitinproduction
JWT_EXPIRE=30d
NODE_ENV=development
